In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [ ]:
df = pd.read_excel('shows.xlsx')
df.head()

   Age  Experience  Rank Nationality   Go
0   36          10     9          UK   NO
1   42          12     4         USA   NO
2   23           4     6           N   NO
3   52           4     4         USA   NO
4   43          21     8         USA  YES

In [ ]:
# mapping non numerical val
print(df['Nationality'].unique())
print(df['Go'].unique())

['UK' 'USA' 'N']
['NO' 'YES']

In [ ]:
contry = {'UK':0, 'USA':1, 'N':2}
tar = {'NO':0,'YES':1}
df['Nationality'] = [contry[i] for i in df.Nationality]
df['Go'] = [tar[i] for i in df.Go]
df.head()

   Age  Experience  Rank  Nationality  Go
0   36          10     9            0   0
1   42          12     4            1   0
2   23           4     6            2   0
3   52           4     4            1   0
4   43          21     8            1   1

In [ ]:
X = df.drop(['Go'],axis =1)
y = df.Go

In [ ]:
dtree = DecisionTreeClassifier()
dtree = dtree.fit(X, y)
print(dtree.predict([[40, 10, 7, 1]]))

[1]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(